@import '../../../theme/layout';
@import '../../../theme/colors';
@import '../../../theme/fonts';
@import '../../../theme/export';

.root {
  height: 100vh;
  overflow: hidden;

  .main {
    background-color: $color-white;
    flex-grow: 1;
    height: calc(100vh - #{$app-bar-height});
    min-width: 0; // So the Typography noWrap works
    padding-left: $drawer-width;
    position: relative;
    top: $app-bar-height;
    background-color: $color-lightest-grey-s;
  }
}
