// $color-primary: #633a96;
$color-primary: #633a96;
// Added a complementary color
$color-secondary: #ddd149;
$color-grey: #999;
$color-black: #000;
$color-white: #fff;

// Miscellaneous
$color-drawer-background: #f8f8f8;
$color-dark: #333;
$color-light: #eee;

// Statuses colors
$color-success: #1ec0a4;
$color-danger: #c50e44;
$color-warning: #ddd149;

// Application specific colors
$color-candidate: #333;
$color-prospect: #1693bc;
$color-instrument: #fd8a29;
$color-client: #1ab439;
$color-reject: #f10c19;

// White background
$color-white-background: #f9f9f9;
